.mytrip-main-container {
    
    max-width: 100vmax;
    max-height: 100vmax;
    background-color: #eff2f7;
    
  }

  .mytrip-semi-main-container{
    width: 1140px;
    height: 632px;
    margin: 0 auto;

    
  }
  
  .mytrip-container {
    display: flex;
    width: 940px;
    height: 580px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: white;
    
   
}

.mytrip-left-container{
 border-radius: 8px;
}

.mytrip-img{
  height: 100%;
 border-radius:  8px 0 0 8px;
}
.mytrip-right-container{

    margin: 2rem 3.5rem;
   
}

.mytrip-header{

    margin: 1rem 0;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
}

.mytrip-para{
  
  color: #4c5b6d;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  
}
/* ul{
  
} */

.mytrip-li{
  margin:0.5rem 0;
  list-style:circle;
  font-weight: 400;
}
  
.my-trip-btn{

  background-color: #25acaa;
  width: 67%;
  border-radius: 8px;
  margin: 0.8rem 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}


.custom-width-input {
  width: 70%;
  border-radius: 8px;
  border: 1px solid #cccc;
  outline: none;
  box-shadow: none;
  
  
}
.custom-label{

  margin-top: 0.5rem;
}

.custom-width-input:focus {
  border-color: black;
}

.mytrip-p{
  color: #4c5b6d;
}

.mytrip-link{
  text-decoration:underline;
  color: #25acaa;

}

.my-trip-model-btn{
  background-color: #25acaa;
  border: none;
  outline: none;
  color: white;
  padding: 0.5rem 0;
  width: 100%;
}
.model-paragraph{
  font-size: 11px;
  color: #4c5b6d;
  line-height: 16px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0.8rem;
}

.second-model-ul{
  display: flex;
  justify-content:space-between;
  
}
.model-li{
  margin: 0.4rem 1rem;
  line-height: 12px;
  font-size: 11px;
  color: #4c5b6d;
  list-style: circle;
  text-decoration: none;

}



